<!DOCTYPE html> {% load static %}

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
    <title></title>
    {% endblock %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous"> {% endblock %}

</head>

<body class="bg-dark text-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary mb-5">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="navbar-brand" href="/films/list"><i class="fas fa-home fa-1x"></i></a>
                </li>
                
                
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link active" href="/films/addActor">
                        <i class="fas fa-plus">Acteur</i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/films/addDirector">
                        <i class="fas fa-plus">Réalisateur</i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/films/addFilm">
                        <i class="fas fa-plus">Film</i>
                    </a>
                </li>
                {% endif %}

                {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link active" href="/accounts/logout">
                        Bonjour {{user}}
                        <i class="fas fa-sign-out-alt fa-1x">Déconnexion</i>
                    </a>
                </li>

            </ul>

            {% else %}

            <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'login' %}" class="mt-5">
                {% csrf_token %}
                <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-login"></i>Se
                    connecter</button>
            </form>

            <form class="form-inline my-2 my-lg-0" method="post" action="/films/signup/" class="mt-5">
                {% csrf_token %}
                <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fa fa-login"></i>
                    S'inscrire</button>
            </form>

            {% endif %}
        </div>
    </nav>
    <div class="container">
        <main role="main">

            <div class="row">
                {% block content %} {% endblock %}
            </div>

        </main>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</body>

</html>