{%extends 'base.html' %}
{%load static%}
{%block title%}<title>Ajouter un réalisateur</title>{%endblock%}
{% block styles %}
{% load crispy_forms_tags %}
{{block.super}}
{% endblock %}
{% block content %}

<h1 class="text-center">Liste des réalisateurs</h1>
</div>
<div class="row">
    <div class="col-8">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-dark" id="datable">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="text-center">Nom</th>
                    <th scope="col" class="text-center">Prénom</th>
                    <th scope="col" class="text-center">Modération</th>
                  </tr>
                </thead>
                <tbody>
                    {% for realisator in realisators %}
                    <tr>
                        <td class="text-center">{{realisator.name}}</td>
                        <td class="text-center">{{realisator.firstname}}</td>
                        <td class="text-center"><a href="director/edit/{{realisator.pk}}"><i class="fas fa-edit"></i></a> <a href="director/delete/{{realisator.pk}}"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    </div>
    </div>
    <div class="col-4">
            <form action="{{ path }}" method="POST" class="form-row">
                    {% csrf_token %}
                    <div class="col-md-6">
                    {{ form.name|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                      {{ form.firstname|as_crispy_field }}
                    </div>
                    <div class="col-md-12">
                            <input class="btn btn-success" type="submit">
                        </div>
                    </form>
        </div>
</div>



{% endblock %}