{%extends 'base.html' %}
    {%load static%}
    {%block title%} Create {%endblock%}
    {% block styles %}
    {{block.super}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {% endblock %}
    {% block content %}
    
        <h3>Créer un nouveau commentaire</h3>
        <div class="row">
            <form action="/films/addComment" method="post">
                {% csrf_token %}
                {{form}}
            <input type="submit">
            </form>
        </div>
        

    {% endblock %}