{% extends 'base.html' %} 
{% load static %}

{% block title %}
Les Contacts
{% endblock %}

{% block content %}
<div class="col-6 text-center">
    <section class="card">
            <div class="card-header">
    <h1>{{ movie.title }}</h1>
    </div>
    <h3>{{movie.score}}/20</h3>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">Date de sortie : {{movie.realease_date}}</li>
    <li class="list-group-item">Genre : {{movie.genre}}</li>
    <li class="list-group-item">Realisateur : <u>{{movie.realisator}}</u></li>
    <li class="list-group-item">Acteur : <br>
    {% for actor in movie.actors.all %}
    - {{ actor }}<br>
    {% endfor %}</li>
    </ul>
    </section>
</div>
<div class="col-6 text-center">
    Commentaire
    {% for comment in movie.comments.all %}
    {{ comment.user.login }}
    {{ comment.text }}
    {% endfor %}
</div>
<div class="row">
        <form action="/films/detail/{{id}}" method="post">
            {% csrf_token %}
            {{form}}
        <input type="submit">
        </form>
</div>
{% endblock %}
</html>