{% extends 'base.html' %}
{% load static %}

{% block title %}
Les Films
{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="card-deck mt-5 container-fluid">
    {% for elem in objets %}
<div class="col-4">
    <div class="card">
        <img class="card-img-top img-fluid" src="{{elem.image.url}}" alt="image_film" style="width: 350px; height: 200px;">
        <div class="card-body">
            <h5 class="card-title">{{elem.title}}</h5>
            <p class="card-text">Réalisé par : {{elem.director.firstname}} {{elem.director.name}}</p>
            <p class="card-text">Date de sortie : {{elem.realease_date}}</p>
            <a href="detail/{{elem.pk}}" class="btn btn-outline-primary">Voir</a>
        </div>
        
    </div>
</div>
<!-- <td class="center"><a href="edit/{{elem.pk}}"><i class="fas fa-pen"></i></a></td>
                <td class="center"><a href="delete/{{elem.pk}}"><i class="fas fa-trash"></i></a></td> -->
{% endfor %}
</div>

{% endblock %}