body {
    font-family: 'Oswald', serif !important;
}

.pagination {
    text-align: center;
    margin-top: 1em;
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em;
    color: #B9B9B9;
    font-size: 1.3em;
}

.pagination-action:hover {
    color: rgb(83, 158, 68)
}

.pagination-number {
    background-color: rgb(111, 201, 93);
    padding: 0.5em 0.8em;
    color: #fff;
    border-radius: 2px;
}

.pagination-number:hover, .pagination-current {
    background-color: rgb(85, 163, 70);
}

.container-fluid {
    max-width: 1200px;
}

.card-img-top {
    width: auto;
    height: 425px;
}

[class*="row"] {
    margin-bottom: 1em;
    justify-content: center;
}

[class*="col-"] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    width: 100%;

}

.card {
    background-color: #4b464685;
    box-shadow: 10px 5px 5px rgb(29, 29, 29);
}

.list-group-item {
    background-color: #474646;
}

.card-header {
    background-color: #474646;
}

.synopsis {
    text-align: justify;
    text-justify: inter-word;
}

.imgdetail {
    height: 450px;
}
